<table class="table">
    <thead>
        <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        </tr>
    </thead>

    <tbody>
        {{#each items}}
        <tr>
            <td class="item-name">{{this.name}}</td>
            <td class="item-price">{{this.price}}$</td>
            <td class="item-quantity">{{this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<form action="/pay" method="post">
    <input class="btn btn-outline-secondary" type="submit" value="BUY">
</form>